*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Roboto;
}

body,
html {
   height: 100%;
}

.ci-select,
.ci-select * {
   box-sizing: border-box;
}

.ci-select {
   $padding: 0 0.35em;

   display: inline-flex;
   flex-direction: column;
   line-height: 1.7rem;

   &__input {
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      padding: $padding;
   }

   &__menu {
      list-style: none;
      border: 1px solid #aaa;
      overflow-Y: auto;

      &__option {
         padding: $padding;

         &--highlight {
            background: lightblue;
         }
      }

      &__no-options {
         text-align: center;
         color: #999;
      }
   }
}